*{
  background-color: #8d8daa !important;
  font-family: 'Manrope', sans-serif;

}
/* Titles */
h1, h2{
  color:#f56d91 !important;
  font-family: 'Permanent Marker', cursive;
  margin-left: 15px;
}
h3{
  color: #dfdfde !important;
}
p{
  padding-bottom: 5px;
}

/* Images */
img{
  height:auto;
  width: 300px;
}
.Exampleimg{
  width: 250px;;
}
.avatar{

  margin: 2rem 0;
  border-radius: 50%;
}




/* Before update to bulma framework */
/* body {
  background-color: #8d8daa;
  font-family: 'Manrope', sans-serif;
  color: #f7f5f2;
}
.list-items {
  list-style: none;
  font-size: medium;
  font-size: 20px;
}
header {
  font-family: 'Permanent Marker', cursive;
  font-size: 72px;
  text-align: center;
  color: #f56d91;
  padding: 5px 5px 0px 5px;
}
.top {
  display: inline-flex;
}
.profilepic {
  width: 20%;
  border-radius: 50%;
  margin: 5px;
  padding: 10px;
}
.HTitle {
  /* font-size: 2em; 
  margin-bottom: 0px;
  margin-left: 30px;
  width: 100%;
  display: inline-flex;
  color: #f56d91;
}
.title{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 45px;
  margin-bottom: 0px;
  margin-left: 30px;
  width: 100%;
  display: inline-flex;
  color: #f56d91;
}
header h2 {
  font-family: 'Manrope', sans-serif;
  margin-top: 0px;
  margin-bottom: 50px;
  color: #dfdfde;
  font-size: 52px;
}
div h3 {
  color: #dfdfde;
  font-size: 40px;
}
/* Tech blog stuff *//*
.Exampleimg{
  width: 20%;
  padding: 5px;;
  border: solid 2px #f56d91;
  /* display: flex; *//*
}
.CvI-div{
  display: inline-flex;
  width:100%;
}

#MBriggs{
  float: left;
  width: 45%;
}
#MBriggs .owlpic
{
  width: 40%;
}
#DOPE{
  float: right;
  width: 50%;
  border-left: #f56d91 solid 5px;
  padding: 5px;
}

#DOPE .owlpic{
  height: auto;
  width: 40%;
  float: left;
}
#DOPE ul{
  list-style: none;
  padding-left: 15px;
  text-align: center;

}
#LPlan{
 text-align: center;
}
.Ltitle{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 45px;
  margin-bottom: 0px;
  margin-left: 30px;
  width: 100%;
  
  color: #f56d91;
}

#values{
  
  display: flex;
  padding-top: 50px;
  margin-top: 50px;
  width: 100%;
}
#values p{
  font-size: medium;
  font-family: 'Manrope', sans-serif;
} */
